/* @import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css"); */

body {
    margin: 0;
    background-color: #fff;
}

.hot-air-2__row {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: calc(100vh - 100px);
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.hot-air-2__map {
  outline: 1px solid #4b86c2;
}

canvas {
  width: 48%;
}

img {
  width: 48%;
}
/* canvas {
    width: 498px;
    height: 298px;
    display: block;
  } */
  #ui {
    width: 200px;
  }


